{% extends 'base.html' %}
{% load static %}
{% block title %}My Activity{% endblock title %}
{% block content %}
<div id="actcontainer" class="container mt-5">
	<div class="page-header">
		<h2 class="text text-center text-info display-1">Join Me</h2>
	</div>
	<div class="jumbotron">
		{% if activities.count == 0%}
			<h3 class="text-success">Ooops!! No Activity yet..</h3>
		{% endif %}
		<div id="actcarddeck" class="card-deck">
			{% for act in activities %}
				<div id="actcard" class="card">
						<div class="card-header">
							<h5 class="text-center" style="color:black">{{ act }}</h5>
						</div>
					<div id="actcardbody" class="card-body">
						<ol id="actcardol">
				{% for person in act.person_set.all %}
							<li class="card-text">{{ person }}</li>	
				{% endfor %}
						</ol>
					</div>
					<div class="card-footer">
						<div class="row">
							<div class="col">
								<a href="/deleteact/{{ act.id }}" class="btn btn-danger btn-xs" data-title="Delete" onclick="return confirm('Are you sure you want to delete {{ act }}?')"><span class="fas fa-trash fa-sm"></span></a>
							</div>
							<div class="col">
								<div class="dropdown">
									<span class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
									   Add Participant
									</span>
									<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
										<form class="post-form dropdown-item" method="POST" action="/add/{{act.id}}" autocomplete="off">
										    {% csrf_token %}
										    {{form}}
										    <button class="btn btn-success btn-sm" type="submit" value="submit"><i class="fas fa-sign-in-alt"></i> Submit</button>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
			{% endfor %}
		</div>
		<div class="dropdown">
			<span class="btn btn-primary dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
			   Add Activity
			</span>
			<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
				<form class="post-form dropdown-item" method="POST" action="/addact" autocomplete="off">
				    {% csrf_token %}
				    {{form_act}}
				    <button class="btn btn-success btn-sm" type="submit" value="submit"><i class="fas fa-sign-in-alt"></i> Submit</button>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}