body{
	background-color:#2F303A;
	overflow-y: scroll;
}
html{
	box-sizing: border-box
}
 .nav-item{
	font-size: 24px;
	margin:10px;
	color: white;
}
.navbar-brand{
	font-size: 30px;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.56);
	filter: drop-shadow(0px 4px 59px rgba(32, 99, 231, 0.5));
}
.post-form{
	background: transparent;
	margin-left: : 50%;
	left: 50px;
	text-shadow: 3px 0px 9px rgba(15, 207, 196, 0.73);
	color: white;
	font-size: 20px;
}
.post-form h3{
	text-align: center;

}
#addbutton{
	padding-top: 10px;
	left: 70%;
	margin-top: 20px;

}
#container{
	margin : 5px;
	align-content: center;
	margin-top: 40px;
}
#actcardhome{
	background : #007bff;
}
#jumboact{
	padding-top: 0px;
	background-color: #343a40;
}
#actcarddeckhome{
	padding-top: 35px;
}
#actcontainerhome p,h1,h4{
	color: white;
}
.dropdown-menu form{
	color: white!important;
	background-color: transparent!important;
}
.dropdown-menu{
	background-color: #1f6f8b;
}
/*  ACCORDION */
.accordion_header{
	display: block;
	padding: 15px;
	border: none;
	background: white;
	cursor: pointer;
	outline: none;
	width: 100%;
	color: black;
	transition: background 0.2s;
	text-align: left;
}
.accordion_header::after{
	content: '\25be';
	float: right;
	transform: scale(2);

}
.accordion_header--active{
	background: white;
}
.accordion_header--active::after{
	content: '\25b4';
}
.accordion_body p{
	color: black;
	text-align: justify;
	padding: 15px;
	background: transparent;
}
.accordion_body{
	overflow: auto;
	font-family: sans-serif;
	background: #eeeeee;

}
.accordion_header--active + .accordion_body{
	display: block;
}
/* BOOKLIB APP */
.input{
	padding:10px 10px 10px 5px;
  	display:block;
 	width:350px;
 	border-radius: 1.5rem;
  	border:none;
  	margin-left: auto;
  	margin-right: auto;

}
#container_books{
	color: white;
}
#container_input{
	margin: auto;
}
#show  tr{
	margin-left: auto;
	margin-right: auto;
}
/* // Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... } */