<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" width="device-width" initial-scale=1>
	<title>{% block title %}{% endblock %}</title>
	{% load static %}
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
	<!-- <script src="https://kit.fontawesome.com/5bba0521e1.js" crossorigin="anonymous"></script> -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
	<link rel="shortcut icon" href="#" >

	
</head>
<body>
	<!-- NAVIGATION -->
	<nav class="navbar navbar-expand-sm navbar-dark bg-primary sticky-top">
	<div class="container-fluid">
		<a class="navbar-brand" href="/"><i class="fab fa-earlybirds fa-lg" alt="MyDB"><h4>My<b>DB</b></h4></i></span></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul  class="navbar-nav ml-auto">
				<li class="nav-item active">
					<a class="nav-link" href="/"><i class="fas fa-house-user fa-lg"></i></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/activity">Activity</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/accordion">About Me</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" href="/bookslib">Books</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/admin"><i class="fas fa-user-shield"></i></a>
				</li>
			</ul>
		</div>
	</div>
	</nav>
<div class="container">
 <div class="row">
    {% block content %}{% endblock %}
 </div>
</div>
{% block scripts %}{% endblock %}	
<!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
 -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
</body>
</html>