{% extends 'base.html'%}

{% block title %}Add New Subject {% endblock %}

{% block content%}
<div class="col-md-12">
	<h4>SUBJECT DATABASE</h4>
	<form method="POST" class="post-form" action="/addnew" autocomplete="off">
		{% csrf_token %}
		<div id = "addcontainer" class="container">
			<br>
			<div class="form-group row">
				<label class="col-sm-1 col-form-label"></label>
				<div class="col-sm-5">
					<h3 class="text text-center display-4">Add New Subject</h3>
				</div>
				
			</div>

			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Mata Kuliah:</label>
				<div class="col-sm-4">
					{{ form.nama_matkul }}
				</div>
				
			</div>

			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Jumlah SKS:</label>
				<div class="col-sm-4">
					{{form.sks}}
				</div>
				
			</div>

			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Term:</label>
				<div class="col-sm-4">
					{{form.term}}
				</div>
				
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Dosen Pengajar:</label>
				<div class="col-sm-4">
					{{form.dosen}}
				</div>
				
			</div>

			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Ruang Kelas:</label>
				<div class="col-sm-4">
					{{form.ruang_kelas}}
				</div>
				
			</div>

			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Deskripsi:</label>
				<div class="col-sm-4">
					{{form.deskripsi}}
				</div>
				
			</div>
			<div class="form-group row">
				<label class="col-sm-1 col-form-label"></label>
				<div class="col-sm-4">
					<button id="addbutton" type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Submit</button>
				</div>
				
			</div>

		</div>
	</form>
</div>

{% endblock %}
